*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.header {
  justify-content: space-between;
  background: #14213d;
  color: white;
  border-bottom: 0.2em solid tomato;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0 5em;
}

nav {
  align-self: center;
  margin-right: 1em;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.list {
  margin-left: 2em;
  list-style: none;
  transition: all 500ms ease-in;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  position: relative;
}
.link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;

  bottom: 0;
  left: 0;
  transform-origin: left;
  transition: all 500ms ease-in;
}
.link:hover::after {
  background: #ff6347;
  width: 100%;
}

.yellow {
  display: block;
}

.red {
  color: tomato;
}

.main {
  background-image: url(/img/b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  width: 100%;
  background-position: center;
  text-align: center;
  padding-top: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  color: white;
  transition: all 500ms linear;
}

.para {
  font-size: 20px;
}

.btn {
  display: inline-block;
  background: #ff6347;
  padding: 10px 60px;
  transition: all 500ms ease-in;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: #14213d;
  font-weight: bold;
}

.wrapper {
  background: #14213d;
  padding: 1em 0;
}

.input {
  align-self: left;
  color: white;
}

.submit {
  display: inline-block;
  background: #ff6347;
  padding: 0.75em 2.2em;
  border: none;
  color: white;
}

.email {
  padding: 1em 3em;
}

.email1 {
  width: 100%;
  padding: 0.5em 3em;
}

.box {
  color: black;
  text-align: center;
  font-size: 15px;
  align-self: center;
}

.color {
  background: #ff6347;
  color: white;
  text-align: center;
  padding: 1em 0;
  font-size: small;
}

.aside {
  color: black;
  text-align: justify;
  font-size: 15px;
  width: 100%;
}

.aside + .aside {
  margin-left: 60px;
}

.grey {
  background: #14213d;
  color: white;
  padding: 20px;
}

.price {
  color: black;
  align-self: start;
}

.website {
  width: 80%;
  background: #e6e6e6;
  font-size: 20px;
  padding: 2em;
  border: 2px solid #cccccc;
  padding: 0 2em;
  margin-bottom: 7px;
  font-weight: lighter;
}

form {
  background: #14213d;
  color: white;
  padding: 1em;
  margin-top: 20px;
}

footer {
  text-align: center;
}

.gray {
  background: #14213d;
  color: white;
  padding: 20px;
}

.signup {
  background: #14213d;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.signup h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #ff6347;
}

.signup input {
  border: none;
  padding: 0.5em 10em;
  margin-top: 20px;
  text-align: center;
}

.signup button {
  border: none;
  padding: 0.5em 1em;
  margin-top: 20px;
  background: #ff6347;
  color: white;
}

@media (max-width: 750px) {
  .content {
    flex-direction: column;
  }
  .box {
    padding-top: 30px;
  }
  .aside {
    text-align: center;
  }
  .aside + .aside {
    margin-left: 0px;
  }
  .color {
    margin-top: 20px;
    padding: 20px;
  }
  .price {
    width: 100%;
  }
  .website {
    margin-bottom: 7px;
    widows: 50%;
  }
  form {
    width: 100%;
    padding-right: 10px;
  }
  .email {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .yellow {
    font-size: 40px;
    width: 50%;
  }
  .link {
    font-weight: 100;
    font-size: 15px;
  }
  .input {
    display: flex;
    flex-direction: column;
  }
}
